02"}
body{
margin:0;
font-family:Arial;
text-align:center;
background:black;
color:white;
overflow:hidden;
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

.page{
display:none;
height:100vh;
background-size:cover;
background-position:center;
}

#page1{
display:block;
}

.final{
background-image:url("photo.jpg");
}

.box{
background:rgba(0,0,0,0.5);
padding:25px;
margin-top:100px;
display:inline-block;
border-radius:20px;
box-shadow:0 0 20px pink;
}

button{
padding:15px 25px;
font-size:18px;
margin:10px;
border:none;
border-radius:10px;
cursor:pointer;
}

#yes{
background:green;
}

#no{
background:red;
position:absolute;
}

.heart{
position:fixed;
top:-10px;
animation:fall 5s linear infinite;
}

@keyframes fall{
0%{top:-10px;}
100%{top:100vh;}
}

.typing{
animation: glow 1s infinite alternate;
}

@keyframes glow{
from{color:white;}
to{color:pink;}
}
